<ion-view title="Análise dos Personagens" id="page8" style="background-color:#2E7A8B;">
  <ion-content padding="true" style="background: url(img/PC0db21nQMaStpRHxxBc_cadastro_image.jpg) no-repeat center;background-size:cover;" class="has-header">
    <form id="anLiseDosPersonagens-form13" class="list">
      <div class="list card forun-balao-de-conversa" id="anLiseDosPersonagens-card24">
        <ion-item class="item-avatar item-icon-right" id="anLiseDosPersonagens-list-item17">
          <img src="img/NSdZBwvSZCkBwEUFhd08_91a3ff06f9c729e5510cb5d312ed4c58.jpg">
          <h2>Joana</h2>
          <i class="icon ion-chatbox"></i>
        </ion-item>
        <div id="anLiseDosPersonagens-container4">
          <div id="anLiseDosPersonagens-markdown10" class="show-list-numbers-and-dots">
            <p style="margin-top:0px;color:#000000;">Achei a Macabeia um ser apático, mesmo tendo sonhos e desejos, os mesmos não sao transmitidos para o leitor, eu só sofri</p>
          </div>
        </div>
      </div>
    </form>
  </ion-content>
</ion-view>
