<ion-view title="A Hora da Estrela" id="page6" style="background-color:#2E7A8B;">
//mozão que conversa com os js
  <ion-content padding="true" class="has-header" ng-app="app.controllers">

    <h1 class="titulo-livro">{{tituloLivro}}</h1>

    <div class="list card" id="aHoraDaEstrela-card22">
      <ion-item class="item-icon-left dark" id="aHoraDaEstrela-list-item14">
        <i class="icon ion-ios-bookmarks"></i>A Hora da Estrela</ion-item>
      <div class=" item item-image">
        <img src="img/KgimKk58RMSTYpLneqSE_A_Hora_da_Estrela.jpg" style="display:block;width:100%;height:auto;">
      </div>
  <!--    <div class="item item-body" id="aHoraDaEstrela-list-item-container4">
        <div id="aHoraDaEstrela-markdown5" class="show-list-numbers-and-dots info-livro">
          <p style="margin-top:0px;color:#000000;">
            <strong>Autorx:</strong> Clarisse Lispector
            <br>
            <strong>Primeira Publicação:</strong> 1977
            <strong>Genero:</strong>Romance
            <br>
            <strong>Universidades:</strong>Ufrgs,Ufpel,UFSM,UFSPA
            <strong>Enredo:</strong> O narrador conta a história de Macabéa, jovem alagoana de 19 anos que vive no Rio de Janeiro. Órfã, mal se lembrava dos pais, que morreram quando ela era ainda criança. Foi criada por uma tia muito religiosa e moralista, cheia
            de superstições e tabus, os quais ela passou para a sobrinha.</p>
        </div>
      </div> -->
      //WORK WORK WORK WORK WORK
      <ion-list class="info_livro" ng-controller ="aHoraDaEstrelaCtrl">
        <ion-item class="item_info_livro">
          <p class ="txt_list_info_livro">Autorx:</p>
          <p class="label_info_livro"> {{pefgaIfoLivro.nomeAutorx}} </p>
        </ion-item>

        <ion-item class="item_info_livro">
          <p class ="txt_list_info_livro">Primeira Publicação:</p>
          <p class="label_info_livro"> {{pefgaIfoLivro.dataPublicacao}} </p>
        </ion-item>

        <ion-item class="item_info_livro">
          <p class ="txt_list_info_livro">Universidades 2017:</p>
          <p class="label_info_livro"> {{pefgaIfoLivro.universisadesNoAno}} </p>
        </ion-item>

        <ion-item class="item_info_livro">
          <p class ="txt_list_info_livro">Enredo:</p>
          <p class="label_info_livro"> {{pefgaIfoLivro.enredo}} </p>
        </ion-item>



      </ion-list>

    </div>
    <div class="item item-body" id="aHoraDaEstrela-list-item-container5">
      <h1 id="aHoraDaEstrela-heading3" style="color:#F36868;font-weight:600;text-align:center;" class="titulo_forun">Questões</h1>
      <ion-list id="aHoraDaEstrela-list8">
        <ion-item class="item-icon-right assertive" id="aHoraDaEstrela-list-item21" ui-sref="questEs">Enem
          <span class="item-note">5 Questões</span>
          <i class="icon ion-ios-compose-outline"></i>
        </ion-item>
        <ion-item class="item-icon-right assertive" id="aHoraDaEstrela-list-item16" ui-sref="questEs">UFRGS
          <span class="item-note">15 Questões</span>
          <i class="icon ion-ios-compose-outline"></i>
        </ion-item>
      </ion-list>
      <ion-list id="aHoraDaEstrela-list15">
        <ion-item class="item-icon-right assertive" id="aHoraDaEstrela-list-item35" ui-sref="questEs">Todas
          <span class="item-note">120 Questões</span>
          <i class="icon ion-ios-compose-outline"></i>
        </ion-item>
      </ion-list>
      <a ui-sref="simulado" id="aHoraDaEstrela-button34" class="button button-assertive  button-block icon-right ion-play">Fazer Simulado</a>
    </div>
    <div class="spacer" style="width: 300px; height: 25px;"></div>
    <div class="item item-body" id="aHoraDaEstrela-list-item-container11">
      <h1 id="aHoraDaEstrela-heading9" style="color:#B88FD3;text-align:center;" class="titulo_forun">Encontros</h1>
      <ion-list id="aHoraDaEstrela-list14">
        <ion-item class="item-icon-right royal" id="aHoraDaEstrela-list-item31" ui-sref="encontroLocal">Casa de Cultura
          <span class="item-note">25/12/17</span>
          <i class="icon ion-calendar"></i>
        </ion-item>
        <ion-item class="item-icon-right royal" id="aHoraDaEstrela-list-item32">Redenção
          <span class="item-note">27/07/17</span>
          <i class="icon ion-calendar"></i>
        </ion-item>
      </ion-list>
      <a ui-sref="marcarEncontro" id="aHoraDaEstrela-button18" class="button button-royal  button-block icon-right ion-android-people">Marcar Encontro</a>
    </div>
    <div class="spacer" style="width: 300px; height: 25px;"></div>
    <div class="item item-body" id="aHoraDaEstrela-list-item-container7">
      <h1 id="aHoraDaEstrela-heading5" style="color:#2E7A8B;font-weight:600;text-align:center;" class="titulo_forun">Fóruns</h1>
      <ion-list id="aHoraDaEstrela-list9">
        <ion-item class="item-icon-right positive" id="aHoraDaEstrela-list-item20" ui-sref="anLiseDosPersonagens">Personagens
          <span class="item-note">24 Pessoas</span>
          <i class="icon ion-ios-chatbubble-outline"></i>
        </ion-item>
        <ion-item class="item-icon-right positive" id="aHoraDaEstrela-list-item22">Contexto histórico
          <span class="item-note">14 Pessoas</span>
          <i class="icon ion-ios-chatbubble-outline"></i>
        </ion-item>
      </ion-list>
      <a ui-sref="criarForum" id="aHoraDaEstrela-button19" class="button button-positive  button-block icon-right ion-ios-compose-outline">Criar Fórum</a>
    </div>
  </ion-content>
</ion-view>
