<ion-view title="Análise dos Personagens" id="page8" style="background-color:#2E7A8B;">
  <ion-content padding="true" style="background: url(img/PC0db21nQMaStpRHxxBc_cadastro_image.jpg) no-repeat center;background-size:cover;" class="has-header">
    <form id="anLiseDosPersonagens-form13" class="list">
      <div class="list card forun-balao-de-conversa" id="anLiseDosPersonagens-card24">
        <ion-item class="item-avatar item-icon-right" id="anLiseDosPersonagens-list-item17">
          <img src="img/NSdZBwvSZCkBwEUFhd08_91a3ff06f9c729e5510cb5d312ed4c58.jpg">
          <h2>Joana</h2>
          <i class="icon ion-chatbox"></i>
        </ion-item>
        <div id="anLiseDosPersonagens-container4">
          <div id="anLiseDosPersonagens-markdown10" class="show-list-numbers-and-dots">
            <p style="margin-top:0px;color:#000000;">Achei a Macabeia um ser apático, mesmo tendo sonhos e desejos, os mesmos não sao transmitidos para o leitor, eu só sofri</p>
          </div>
        </div>
      </div>
      <form id="anLiseDosPersonagens-form10" class="list forun-balao-de-conversa">
        <div class="list card" id="anLiseDosPersonagens-card21">
          <ion-item class="item-avatar item-icon-right balanced" id="anLiseDosPersonagens-list-item26">
            <img src="img/83i9xhYlRoWxYrb5MYeQ_menina-americana-do-estudante-da-afiliao-tnica-do-africano-negro-que-estuda-o-livro-de-texto-50691183.jpg">
            <h2balanced>Manuela
              <i class="icon ion-chatbox"></i>
            </h2balanced>
          </ion-item>
          <div id="anLiseDosPersonagens-container1">
            <div id="anLiseDosPersonagens-markdown9" class="show-list-numbers-and-dots">
              <p style="margin-top:0px;color:#000000;">Abc,sssssere dfd fsdtgggg aaaeeertrfgsd sdsdsdas rrsd. Akoioid oisosl,.</p>
            </div>
          </div>
        </div>
      </form>
      <label class="item item-input opiniao-txt-area" id="anLiseDosPersonagens-textarea2">
        <span class="input-label"></span><textarea placeholder="Digite sua opinião"></textarea></label>
      <div id="anLiseDosPersonagens-container12">
        <form id="anLiseDosPersonagens-form15" class="list">
          <button id="anLiseDosPersonagens-button11" style="font-weight:300;" class="button button-dark button-large button-block icon-right ion-android-send">Enviar</button>
          <div class="spacer" style="height: 100px;"></div>
        </form>
      </div>
    </form>
  </ion-content>
</ion-view>