<ion-view title="Cadastro" id="page3">
  <ion-content padding="true" style="background: url(img/IzvdOoGHQLusHWrsXM2g_lista_livros_image.jpg) no-repeat center;background-size:cover;" class="has-header">
    <form id="cadastro-form9" class="list">
      <div class="spacer" style="width: 300px; height: 47px;"></div>
      <ion-list id="cadastro-list2">
        <label class="item item-input" id="cadastro-input9">
          <span class="input-label">Email</span>
          <input type="text" placeholder="margarete@gmail.com">
        </label>
        <label class="item item-input" id="cadastro-input10">
          <span class="input-label">Usuário</span>
          <input type="text" placeholder="Marga">
        </label>
        <label class="item item-input" id="cadastro-input11">
          <span class="input-label">Senha</span>
          <input type="password" placeholder="">
        </label>
      </ion-list>
      <div class="spacer" style="height: 100px;"></div>
      <a ui-sref="inicial" id="cadastro-button8" class="button button-dark  button-block">Cadastrar</a>
    </form>
  </ion-content>
</ion-view>