<ion-view title="Criar Forum" id="page15" style="background-color:#54146D;">
  <ion-content padding="true" style="background: url(img/5bB7VPIQYqKrKbCd9rkg_cadastro_image.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div id="criarForum-container11">
      <form id="criarForum-form16" class="list">
        <label class="item item-input" id="criarForum-input20">
          <span class="input-label">Título</span>
          <input type="text" placeholder="A vida de Clarisse">
        </label>
        <div class="spacer" style="width: 300px; height: 13px;"></div>
      </form>
    </div>
    <form id="criarForum-form21" class="list">
      <label class="item item-input" id="criarForum-textarea4">
        <span class="input-label">Contexto</span><textarea placeholder="Esse forum de discussão foi criado para que pudêssemos debater a vida de Clarisse e as coisas que ela queria dizer com o livro"></textarea></label>
      <div class="spacer" style="width: 300px; height: 13px;"></div>
      <label class="item item-select" id="criarForum-select4" name="select-amg">
        <span class="input-label">Convide Amgos</span>
        <select>
          <option></option>
        </select>
      </label>
      <div class="spacer" style="width: 300px; height: 13px;"></div>
      <ion-item class="item-thumbnail-left" id="criarForum-list-item27">
        <h2>Insira uma Imagem</h2>
      </ion-item>
    </form>
    <button id="criarForum-button35" class="button button-positive  button-block">Criar Fórum</button>
  </ion-content>
</ion-view>