<ion-view title="Encontro - local" id="page11">
  <ion-content padding="true" style="background: url(img/22FRvbuSLCK5iQzqw9WB_treecycle123.jpg) no-repeat center;background-size:cover;" class="has-header">
    <h3 id="encontroLocal-heading10" style="color:#000000;"></h3>
    <div class="item item-body div-titulo" id="encontroLocal-list-item-container15">
      <div id="encontroLocal-markdown23" style="text-align:center;" class="show-list-numbers-and-dots">
        <p style="color:#926E24;font-size:17px;">
          <strong>A Constante Angustia de Macabéia</strong>
        </p>
      </div>
    </div>
    <div class="spacer" style="width: 300px; height: 30px;"></div>
    <div class="list card" id="encontroLocal-card28">
      <ion-item class="item-icon-left assertive" id="encontroLocal-list-item40">
        <i class="icon ion-location"></i>Casa de Cultura Mario Quintana</ion-item>
      <div class="item item-body" id="encontroLocal-list-item-container18">
        <div id="encontroLocal-markdown28" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#C56D6D;">27/12/2017</p>
        </div>
        <div id="encontroLocal-markdown29" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">
            <strong>Criado por:</strong> Clementina de Jesus</p>
        </div>
        <div id="encontroLocal-markdown30" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#A8A5A5;">55 Confirmados</p>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>