<ion-view title="Login" id="page12">
  <ion-content padding="true" style="background: url(img/bg_login.png) no-repeat center;background-size:cover;" class="has-header">
    <div class="spacer" style="height: 100px;"></div>
    <form id="login-form11" class="list">
      <ion-list id="login-list10">
        <label class="item item-input" id="login-input12">
          <span class="input-label">Usuário</span>
          <input type="text" placeholder="Digite o Usuário">
        </label>
        <label class="item item-input" id="login-input13">
          <span class="input-label">Senha</span>
          <input type="password" placeholder="Digite sua Senha">
        </label>
      </ion-list>
      <div class="spacer" style="height: 40px;"></div>
      <a ui-sref="inicial" id="login-button20" class="button button-energized  button-block">Entrar</a>
      <button id="login-button21" style="border-radius:0px 0px 0px 0px;" class="button button-positive  button-block icon-left ion-social-facebook">Entrar com Facebook</button>
      <a ui-sref="cadastro" id="login-button22" class="button button-energized  button-block button-clear">Crie uma conta</a>
    </form>
  </ion-content>
</ion-view>
