<ion-view title="Questões" id="page10" style="background-color:#2E7886;">
  <ion-content padding="true" class="has-header">
    <div class="list card" id="questEs-card26">
      <div class="item item-body" id="questEs-list-item-container9">
        <div id="questEs-markdown15" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">
            <strong> “A ação desta história terá como resultado minha transfiguração em outrem (…)”. Neste excerto de A hora da estrela, o narrador expressa uma de suas tendências mais marcantes, que ele irá reiterar ao longo de todo o livro. Entre os trechos
              abaixo, o único que NãO expressa tendência correspondente é:</strong>
          </p>

          <p style="color:#000000;">
            <strong>(A) </strong> “Vejo a nordestina se olhando ao espelho e (…) no espelho aparece o meu rosto cansado e barbudo. Tanto nós nos intertrocamos”.</p>

          <p style="color:#000000;">
            <strong>(B)</strong> “é paixão minha ser o outro. No caso a outra”.</p>

          <p style="color:#000000;">
            <strong>(C)</strong> “Enquanto isso, Macabéa no chão parecia se tornar cada vez mais uma Macabéa, como se chegasse a si mesma”.</p>

          <p style="color:#000000;">
            <strong>(D)</strong> “Queiram os deuses que eu nunca descreva o lázaro porque senão eu me cobriria de lepra”.</p>

          <p style="color:#000000;">
            <strong>(E)</strong> “Eu te conheço até o osso por intermédio de uma encantação que vem de mim para ti”.</p>
        </div>
      </div>
    </div>
    <div class="spacer" style="width: 300px; height: 7px;"></div>
    <div class="list card" id="questEs-card27"></div>
    <div id="questEs-button-bar5" class="button-bar">
      <a ui-sref="questEs2" id="questEs-button24" class="button button-dark  button-block">1</a>
      <a ui-sref="questEs2" id="questEs-button25" class="button button-dark  button-block">2</a>
      <button id="questEs-button29" class="button button-dark  button-block">3</button>
    </div>
  </ion-content>
</ion-view>