<ion-view title="Questões" id="page13" style="background-color:#2E7886;">
  <ion-content padding="true" class="has-header">
    <div class="list card" id="questEs2-card23">
      <div class="item item-body" id="questEs2-list-item-container10">
        <div id="questEs2-markdown11" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">
            <strong>Assinale a questão cujas obras sejam todas de autoria de Clarice Lispector:</strong>
          </p>

          <p style="color:#000000;">
            <strong>a)</strong> Perto do coração selvagem, Laços de família, O lustre e A hora da estrela.</p>

          <p style="color:#000000;">
            <strong>b)</strong> Perto do coração selvagem, A hora da estrela, As meninas e Oito contos de amor.</p>

          <p style="color:#000000;">
            <strong>c)</strong> O lustre, Laços de família, A estrutura da bolha de sabão e Verão no aquário.</p>

          <p style="color:#000000;">
            <strong>d)</strong> Como nasceram as estrelas, Um sopro de vida, A vida íntima de Laura e Pomba enamorada, ou, Uma história de amor: e outros contos escolhidos.</p>
        </div>
      </div>
    </div>
    <div class="spacer" style="width: 300px; height: 7px;"></div>
    <div class="list card" id="questEs2-card25">
      <div class="item item-body" id="questEs2-list-item-container12">
        <div id="questEs2-markdown12" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">
            <strong>Assinale com (V) verdadeiro ou (F) falso as afirmações abaixo, referentes ao romance A Hora da Estrela, de Clarice Lispector.</strong>
          </p>

          <p style="color:#000000;">( ) Embora o título principal do romance seja A Hora da Estrela, a autora propõe uma série de títulos alternativos.</p>

          <p style="color:#000000;">( ) Clarice evidencia preocupações incomuns em sua obra, como a reflexão sobre a linguagem e a busca do sentido secreto que se esconde por trás do aparentemente visível.</p>

          <p style="color:#000000;">( ) Antes de iniciar o relato da história de Macabéa, o narrador faz comentários sobre as dificuldades inerentes ao ato de escrever e sobre os seus receios quanto ao destino da personagem que está criando.</p>

          <p style="color:#000000;">( ) A narração do romance é feita por três vozes distintas: a de Rodrigo A. M., a de Macabéa e a de Olímpico.</p>

          <p style="color:#000000;">( ) Uma das distrações de Macabéa, durante a madrugada, é ligar o radinho emprestado por uma colega de quarto e sintonizar a Rádio Relógio, que assinala com um tic-tac cada minuto.</p>

          <p style="color:#000000;">A seqüência correta de preenchimento dos parênteses,de cima para baixo, é</p>

          <p style="color:#000000;">(A) V - F - V - F - V.</p>

          <p style="color:#000000;">(B) V - V - F - F - V.</p>

          <p style="color:#000000;">(C) F - V - F - V - F.</p>

          <p style="color:#000000;">(D) V - F - F - F - V.</p>

          <p style="color:#000000;">(E) F - F - V - V - F.</p>
        </div>
      </div>
    </div>
    <div id="questEs2-button-bar6" class="button-bar">
      <a ui-sref="questEs" id="questEs2-button23" class="button button-dark  button-block">1</a>
      <button id="questEs2-button32" class="button button-dark  button-block">2</button>
      <button id="questEs2-button33" class="button button-dark  button-block">3</button>
    </div>
  </ion-content>
</ion-view>