<ion-view title="Simulado" id="page14" style="background-color:#531653;">
  <ion-content padding="true" class="has-header">
    <div id="simulado-container10">
      <div class="list card" id="simulado-card210">
        <div class="item item-body" id="simulado-list-item-container19">
          <div id="simulado-markdown16" class="show-list-numbers-and-dots">
            <p style="margin-top:0px;color:#000000;">
              <strong>Assinale a questão cujas obras sejam todas de autoria de Clarice Lispector:</strong>
            </p>

            <p style="color:#000000;">
              <strong>a)</strong> Perto do coração selvagem, Laços de família, O lustre e A hora da estrela.</p>

            <p style="color:#000000;">
              <strong>b)</strong> Perto do coração selvagem, A hora da estrela, As meninas e Oito contos de amor.</p>

            <p style="color:#000000;">
              <strong>c)</strong> O lustre, Laços de família, A estrutura da bolha de sabão e Verão no aquário.</p>

            <p style="color:#000000;">
              <strong>d)</strong> Como nasceram as estrelas, Um sopro de vida, A vida íntima de Laura e Pomba enamorada, ou, Uma história de amor: e outros contos escolhidos.</p>
          </div>
          <form id="simulado-form12" class="list">
            <div class="spacer" style="width: 268px; height: 23px;"></div>
            <label class="item item-input item-stacked-label" id="simulado-input15" name="Alternativa">
              <span class="input-label">Alternativa:</span>
              <input type="text" placeholder="      A,B,C...">
            </label>
          </form>
        </div>
      </div>
    </div>
    <div class="spacer" style="width: 300px; height: 19px;"></div>
    <div class="list card" id="simulado-card211">
      <div class="item item-body" id="simulado-list-item-container22">
        <div id="simulado-markdown21" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">
            <strong>Assinale a questão cujas obras sejam todas de autoria de Clarice Lispector:</strong>
          </p>

          <p style="color:#000000;">
            <strong>a)</strong> Perto do coração selvagem, Laços de família, O lustre e A hora da estrela.</p>

          <p style="color:#000000;">
            <strong>b)</strong> Perto do coração selvagem, A hora da estrela, As meninas e Oito contos de amor.</p>

          <p style="color:#000000;">
            <strong>c)</strong> O lustre, Laços de família, A estrutura da bolha de sabão e Verão no aquário.</p>

          <p style="color:#000000;">
            <strong>d)</strong> Como nasceram as estrelas, Um sopro de vida, A vida íntima de Laura e Pomba enamorada, ou, Uma história de amor: e outros contos escolhidos.</p>
        </div>
      </div>
      <form id="simulado-form20" class="list">
        <label class="item item-input item-stacked-label" id="simulado-input18" name="Alternativa">
          <span class="input-label">Alternativa:</span>
          <input type="text" placeholder="      A,B,C...">
        </label>
      </form>
    </div>
  </ion-content>
</ion-view>