<ion-view title="Universidades" id="page7">
  <ion-content padding="true" style="background: url(img/9UDYax3WSbq7o2hHvRvZ_graduaC3A7C3A3o.png) no-repeat center;background-size:cover;" class="has-header">
    <ion-list id="universidades-list7">
      <ion-item class="item-icon-left dark" id="universidades-list-item10" ui-sref="listaDeLivros">
        <i class="icon ion-university"></i>Ifac</ion-item>
      <ion-item class="item-icon-left dark" id="universidades-list-item11">
        <i class="icon ion-university"></i>Ufac</ion-item>
      <ion-item class="item-icon-left dark" id="universidades-list-item13">
        <i class="icon ion-university"></i>Ufal</ion-item>
      <ion-item class="item-icon-left dark" id="universidades-list-item15">
        <i class="icon ion-university"></i>Ifal</ion-item>
      <ion-item class="item-icon-left dark" id="universidades-list-item12">
        <i class="icon ion-university"></i>Ifal</ion-item>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 166px;"></div>
    <div id="universidades-button-bar3" class="button-bar">
      <button id="universidades-button26" class="button button-positive  button-block">1</button>
      <button id="universidades-button27" class="button button-positive  button-block">2</button>
      <button id="universidades-button28" class="button button-positive  button-block">3</button>
    </div>
  </ion-content>
</ion-view>