<html>
<div style="margin: 0 auto; background-image: url(http://3.bp.blogspot.com/-Fh3caPIRxqU/TqaWchEx81I/AAAAAAAABr0/pzfEb_2wabE/s1600/Drawn_wallpapers_Books_010861_.jpg); color: #fff;">
    <center><h1>Seja bem vindo!</h1>
        <p>Agora você já pode fazer login <b>pelo aplicativo</b>!</p>
        <img src="https://d.wattpad.com/story_parts/25/images/1456bec46f76b007.jpg" alt=""></center>
</div>
</html>