/*CONFIGURAÇÕES TELA SIMULADO */


.simulado_enunciado_font{
  font-size: 15px !important;
  white-space: initial !important;
  color:#000;
}


.lst_questoes_simulado{

}
.simulado_txt_alternativa {
  color:#202320;
  white-space: initial !important;
}

.lst_questoes_simulado{
  margin-bottom: 50px;
}

.item_selecionado{
  color: #fff;
  background-color: #2e6796;
  font-size: 14px !important;
white-space: initial !important;

}

.item_errado {
  color: #8e0f0f;
  font-style: oblique;
  font-size: 14px !important;
 white-space: initial !important;

  }

.ng-binding{
  white-space: initial !important;
}


.item_correto{
  color: #fff;
  background-color: #2f5a29;
  font-size: 14px !important;
  white-space: initial !important;
}

.button.button-positive-marcarEncontro{
  background-color: #489c99 ;
}

.button.button-preto{
  color:#fff;
  background-color: #000 ;
}

.button.button-laranja{
  color:#fff;
  background-color: #ffa42d;
}

.descricaoTopico{
  width: 300px !important;
  background-color: green;
}

.item_topicos{
  color: #94662c;
  background-color: #d6d6d6;
  margin-top: 10px;
  margin-bottom: 10px
}
.topico-ver-mais {
  /* color: #f8f8f8 !important; */
/* background-color: #a9bfe2; */
/* margin-top: 10px; */
padding-left: 0%;
}
/*CONFIGURAÇÕES TELA .... */

/*CONFIGURAÇÔES TELA GERAR GRAFICOS BEGIN*/

.button.button-estatisticas{

  color: #ffffff;
  background-color: #00009f;
}

.forum-username{
  color:green;
  font-size: 13pt !important;
}

.forum-descricao-titulo{
  background-color:#8c1919;
  color:#fff;
  text-align: center;
  font-family: Amatic SC;
  font-size: 30px;
}

.forum-descricao{
  border-radius: 10px !important;
}

.forum-descricao-txt{
  white-space: initial !important;
  color:grey;
  padding: 4pt 4px 4pt 4pt;
}
.forum-balao-de-conversa{
  white-space: initial !important;
  padding: 4pt 4px 4pt 6pt;
}
.forum-dataHora{
  font-size: 8pt !important;
}

/*CONFIGURAÇÔES TELA GERAR GRAFICOS END*/
/*CONFIGURAÇÕES INICIAL*/
.welcome{
  margin-left: 15%;
  margin-top: 40%;
}
