/*CONFIGURAÇÕES TELA SIMULADO */


.simulado_enunciado_font{
  font-size: 15px !important;
  white-space: initial !important;
  color:#000;
}


.lst_questoes_simulado{

}
.simulado_txt_alternativa {
  color:#202320;
  white-space: initial !important;
}

.lst_questoes_simulado{
  margin-bottom: 50px;
}

.item_selecionado{
  color: #fff;
  background-color: #2e6796;
  font-size: 14px !important;
white-space: initial !important;

}

.item_errado {
  color: #8e0f0f;
  font-style: oblique;
  font-size: 14px !important;
 white-space: initial !important;

  }

.item_correto{
  color: #fff;
  background-color: #2f5a29;
  font-size: 14px !important;
  white-space: initial !important;
}

.button.button-positive-marcarEncontro{
  background-color: #489c99 ;
}

.button.button-preto{
  color:#fff;
  background-color: #000 ;
}

.button.button-laranja{
  color:#fff;
  background-color: #ffa42d;
}

.descricaoTopico{
  width: 300px !important;
  background-color: green;
}
.topico-ver-mais {
  color: #f8f8f8 !important;
  background-color: #43945b;
  margin-top: 10px;
  padding-left: 30%;
/*  padding-left: 40%;
    /*border-color: #ddd;
    background-color: #aaaaaa;
    color: #444;
    position: relative;
    z-index: 2;
    display: block;
    margin: -1px;
    padding: 16px;
    border-width: 1px;
    border-style: solid;
    font-size: 16px;*/
}
/*CONFIGURAÇÕES TELA .... */
