<html>
<div style="margin: 0 auto; background-image: url(http://3.bp.blogspot.com/-Fh3caPIRxqU/TqaWchEx81I/AAAAAAAABr0/pzfEb_2wabE/s1600/Drawn_wallpapers_Books_010861_.jpg); color: #2f5a29;">
    <center>Para ativar a sua conta conta acesse:
        <p><a href="<%=url%>">Ativar minha conta</a></p>
    </center>
</div>
</html>
