<html>
<center>
    <div style=
  "width: 600px;
  height: 600px;
  margin-top:10%;
  background-image: url(librep_bad.png);
  border-radius:3%;
  font-size: 26px;
  background-size: 600px;">
      <center>
        <p style="color: #9E9E9E;padding-top: 90%; font-family: monospace;"> Clique em :<a href="<%=url%>">Ativar minha conta</a></p>
    </center>
</div>
</center>
</html>
