<html>
<center>
    <div style=
  "width: 600px;
  height: 600px;
  margin-top:10%;
  background-image: url(librep_happy.png);
  border-radius:3%;
  font-size: 26px;
  background-size: 600px;">
</div>
</center>
</html>
