<html>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/css/materialize.min.css">
    <title>
        Erro :(
    </title>
    <body style="background-color: #ffa42d; width: 100%; height: 100%;">
        <div style="font-size: 30px; color: #fff; margin: 0 auto;">
            <center><img class="responsive-img" style="height: 50%;" src="/images/Sad_Face_Emoji.png"/>
            <p><b>Essa página não existe ou você não tem permissão para acessá-la.</b></p></center>
        </div>
    </body>
</html>