<!DOCTYPE HTML>
<html>
<head>
    <title>Liberep</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="assets/css/main.css" />
    <!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
    <noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
</head>
<body style="background-color: #C56D6D;">

<!-- Wrapper -->
<div id="wrapper">

    <!-- Header -->
    <header id="header" >
        <div class="logo">
            <span class="icon fa-diamond"></span>
        </div>
        <div class="content">
            <div class="inner">
                <h1>Liberep</h1>
                <p>Você livre para estudar <b>onde</b> e <b>quando</b> quiser!</p>
            </div>
        </div>
        <nav>
            <ul>
                <!--<li><a href="#intro">Home</a></li>-->
                <li><a href="#sobre">Sobre</a></li>
                <li><a href="#contato">Contato</a></li>
                <li><a href="#download">Download <sub  style="font-size: 8px;">Beta!</sub></a></li>
                <!--<li><a href="#elements">Elements</a></li>-->
            </ul>
        </nav>
    </header>

    <!-- Main -->
    <div id="main">

        <!-- Intro -->
        <article id="sobre">
            <h2 class="major">Sobre</h2>
            <p>O Liberep é um aplicativo desenvolvido para facilitar o ingresso de estudantes no ensino  superior. No Brasil existem centenas de universidades que realizam vestibulares como forma de disputa de vagas em cursos de Ensino Superior. Nosso aplicativo tem como objeto ajudar o estudante que está tentando ingressa em uma universidade. Ofertamos ao nosso usuário o estudo de uma matéria específica: Leituras Obrigatórias. Se você não tem muito tempo para ler todos os livros, se deseja fazer simulados para testar seu conhecimento, ou se deseja tirar suas dúvidas, você está no lugar certo! Baixe agora mesmo a versão Beta do aplicativo e comece hoje mesmo a estudar.</p>
        </article>

        <!-- Erro -->
        <article id="erro">
            <h2 class="major">Erro</h2>
            <p>Desculpe, essa página não existe ou você não tem acesso a ela. :'(</p>
        </article>

        <!-- ativo -->
        <article id="ativo">
            <h2 class="major">Conta Ativa!</h2>
            <p>Parabéns, sua conta está ativa. Já pode logar pelo aplicativo.</p>
        </article>

        <!-- Contact -->
        <article id="contato">
            <h2 class="major">Contato</h2>
            <form method="post" action="#">
                <div class="field half first">
                    <label for="name">Nome</label>
                    <input type="text" name="name" id="name" />
                </div>
                <div class="field half">
                    <label for="email">E-mail</label>
                    <input type="text" name="email" id="email" />
                </div>
                <div class="field">
                    <label for="message">Mensagem</label>
                    <textarea name="message" id="message" rows="4"></textarea>
                </div>
                <ul class="actions">
                    <input type="submit" value="Enviar!" class="special" style="width: 100%; margin: 0 auto;"/>
                </ul>
            </form>
        </article>

        <!-- Elements -->

    </div>

    <!-- Footer -->
    <footer id="footer">
        <p class="copyright">&copy; Desenvolvido com carinho por: <a href="https://html5up.net">HTML5 UP</a>.</p>
    </footer>

</div>

<!-- BG -->
<div id="bg"></div>

<!-- Scripts -->
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/skel.min.js"></script>
<script src="assets/js/util.js"></script>
<script src="assets/js/main.js"></script>

</body>
</html>
