<ion-view title="Análise dos Personagens" id="page8" style="background-color:#2E7A8B;">
  <ion-content padding="true" style="background: url(img/bg_forum.jpg) no-repeat center;background-size:cover;" class="has-header" ng-controller="criarTopicoCtrl">

    <div class="list card forum-descricao" id="forum-desricao" >
      <ion-item class="forum-descricao-titulo">Descrição:</ion-item>
      <p class="forum-descricao-txt">{{topico}} </p>
    </div>

    <div class="spacer" style="height: 80px;"></div>

    <ion-list ng-repeat="comentario in service.listaComentario" class="lst_comentario">
      <ion-item class="item-icon-left dark item_topicos">
        <i class="icon ion-chatboxes">
          <h2>{{comentario.comentar}}</h2>
        </i>
      </ion-item>
    </ion-list>

    <label class="item item-input opiniao-txt-area" style="height: 100px;">
      <textarea placeholder="Digite sua opinião" ng-model="opiniao"></textarea></label>


    <div class="div-txtArea-comentar-forum">
      <form id="anLiseDosPersonagens-form15" class="list">
        <button id="anLiseDosPersonagens-button11" ng-click="comentarTopico()" style="font-weight:100;" class="button button-preto button-large button-block icon-right ion-android-send" ui-sref="menu.comentarTopico">Enviar</button>
        <div class="spacer" style="height: 100px;"></div>
      </form>
    </div>

  </ion-content>
</ion-view>
