
<ion-view title="Criar Tópico de Discussão" id="page15" style="background-color:#54146D;">

  <ion-content  ng-controller ="criarTopicoCtrl" padding="true" style="background: url(../img/bg_criar_forum.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div id="criarForum-container11">

    </div>

  </ion-content>

</ion-view>



<!--<ion-view title="Criar Tópico de Discussão" id="page15" style="background-color:#54146D;">-->
  <!--<ion-content padding="true" style="background: url(img/bg_criar_forum.jpg) no-repeat center;background-size:cover;" class="has-header">-->
    <!--<div id="criarForum-container11">-->
      <!--<form id="criarForum-form16" class="list">-->
        <!--<label class="item item-input" id="criarForum-input20">-->
          <!--<span class="input-label">Título</span>-->
          <!--<input type="text" placeholder="A vida de Clarisse">-->
        <!--</label>-->
        <!--<div class="spacer" style="width: 300px; height: 13px;"></div>-->
      <!--</form>-->
    <!--</div>-->
    <!--<form id="criarForum-form21" class="list">-->
      <!--<label class="item item-input" id="criarForum-textarea4">-->
        <!--<span class="text-area">Contexto</span><textarea placeholder="Esse forum de discussão foi criado para que pudêssemos debater a vida de Clarisse e as coisas que ela queria dizer com o livro"></textarea></label>-->
      <!--<div class="spacer" style="width: 300px; height: auto;"></div>-->

      <!--<div class="spacer" style="width: 300px; height: 13px;"></div>-->

    <!--</form>-->
    <!--<button id="criarForum-button35" class="button button-positive  button-block">Criar Fórum</button>-->
  <!--</ion-content>-->
<!--</ion-view>-->
