<ion-view title="Estatisticas" id="page8" style="background-color:#2E7A8B;">

  <ion-content padding="true" style="background: url(img/bg_estatisticas.png) no-repeat center; background-size:cover;" ng-controller="estatisticasCtrl" class="has-header">

    <div>
      <img src="img/banner_estatisticas.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>

    <form id="form-graficos" class="list">

      <div class="list card forun-balao-de-conversa" id="anLiseDosPersonagens-card24">

        <ion-item class="item-avatar item-icon-right" id="anLiseDosPersonagens-list-item17">
          <h2>Grafico Geral</h2>
        </ion-item>

        <div id="anLiseDosPersonagens-container4">
          <div id="anLiseDosPersonagens-markdown10" class="show-list-numbers-and-dots">


            <div zingchart id="chart-1" zc-json="graficoMediaAcertoErros" zc-width="100%" zc-height="350px">

            <!-- graficos -->

          </div>
        </div>

      </div>

    </form>

  </ion-content>

</ion-view>



