<ion-view title="Estatisticas" id="page8" style="background-color:#2E7A8B;">

  <ion-content padding="true" style="background: url(img/bg_estatisticas.png) no-repeat center; background-size:cover;" ng-controller="graficoCtrl" class="has-header">

    <div>
      <img src="img/banner_estatisticas.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>

    <form id="estatisticas">

      <div class="list card" id="card-grafico-geral">

        <ion-item id="titulo-grafico-geral">
          <h2>Grafico Geral</h2>
        </ion-item>

        <ion-item>

          <div zingchart id="grafico-geral" zc-json="graficoGeral" zc-width="100%" zc-height="350px">

              <!-- graficos -->

          </div>
        </ion-item>

      </div>

      <div class="spacer" style="width: 300px; height: 25px;"></div>

      <div class="list card" id="card-grafico-universidade">

        <ion-item id="titulo-grafico-universidade">
          <h2>Grafico Universidade</h2>
        </ion-item>

        <ion-item>

          <div zingchart id="grafico-universidade" zc-json="graficoUniversidade" zc-width="100%" zc-height="350px">

            <!-- graficos -->

          </div>
        </ion-item>

      </div>

      <div class="spacer" style="width: 300px; height: 25px;"></div>

      <div class="list card" id="card-grafico-data">

        <ion-item id="titulo-grafico-data">
          <h2>Grafico Data</h2>
        </ion-item>

        <ion-item>

          <div zingchart id="grafico-data" zc-json="graficoData" zc-width="100%" zc-height="350px">



          </div>
        </ion-item>

      </div>


    </form>

  </ion-content>

</ion-view>



