<ion-view title="Gerar Simulado" id="page17" style="background-color:#0E2B81;">
  <div ng-controller="simuladoCtrl">
  <ion-content ng-controller="livroCtrl"  padding="true" style="background: url(img/bg_gerar_simulado.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div>
      <img src="img/banner_gerar_simulado.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="width: 300px; height: 44px;"></div>
    <form ng-controller="questoesCtrl"  id="gerarSimulado-form26" class="list">
      <label  class="item item-select" id="gerarSimulado-select8" name="select_universidade">
        <span class="input-label">Universidade</span>



          <select ng-model="mySelect" ng-change="showSelectValue(mySelect)">
              <option ng-repeat="universidade in service.listaUniversidades" >{{universidade._id}}</option>
          </select>


        <!--<select id="selectUniversidade">
          <option value="ufrgs" ng-repeat="universidade in service.listaUniversidades" > {{universidade._id}}</option>
        </select>-->

      </label>

    </form>


    <form id="gerarSimulado-form25" class="list">
      <div class="spacer" style="width: 300px; height: 18px;"></div>
      <ion-radio id="gerarSimulado-radio5" name="simulado_num_questoes" ng-click="setnQuestoes(10)">10 Questões</ion-radio>
      <ion-radio id="gerarSimulado-radio6" name="simulado_num_questoes" ng-click="setnQuestoes(15)">15 Questões</ion-radio>
      <ion-radio id="gerarSimulado-radio7" name="simulado_num_questoes" ng-click="setnQuestoes(20)">20 Questões</ion-radio>
      <ion-radio id="gerarSimulado-radio8" name="simulado_num_questoes" ng-click="setnQuestoes(25)">25 Questões</ion-radio>
      <ion-radio id="gerarSimulado-radio9" name="simulado_num_questoes" ng-click="setnQuestoes(30)">30 Questões</ion-radio>
    </form>
    <div class="spacer" style="width: 300px; height: 10px;"></div>
    <button ui-sref="menu.simulado" ng-click="fazerSimulado()" id="gerarSimulado-button36" class="button button-preto  button-block icon-right ion-android-create">Fazer Simulado</button>
    <div class="spacer" style="width: 300px; height: 49px;"></div>
  </ion-content>
</div>
</ion-view>
