<ion-view title="Gerar Simulado" id="page17" style="background-color:#0E2B81;">
  <ion-content padding="true" style="background: url(img/bg_gerar_simulado.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div>
      <img src="img/banner_gerar_simulado.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="width: 300px; height: 44px;"></div>
    <form id="gerarSimulado-form26" class="list">
      <label class="item item-select" id="gerarSimulado-select8" name="select_universidade">
        <span class="input-label">Universidade</span>
        <select>
          <option>Livro 1</option>
          <option>Livro 2</option>
          <option>Livro 3</option>
        </select>
      </label>
      <div class="spacer" style="width: 300px; height: 28px;"></div>
      <label class="item item-select" id="gerarSimulado-select9" name="select_livro">
        <span class="input-label">Livro</span>
        <select>
          <option>Universidade 1</option>
          <option>Universidade 2</option>
          <option>Universidade 3</option>
        </select>
      </label>
    </form>
    <form id="gerarSimulado-form25" class="list">
      <div class="spacer" style="width: 300px; height: 18px;"></div>
      <ion-radio id="gerarSimulado-radio5" name="simulado_num_questoes">10 Questões</ion-radio>
      <ion-radio id="gerarSimulado-radio6" name="simulado_num_questoes">15 Questões</ion-radio>
      <ion-radio id="gerarSimulado-radio7" name="simulado_num_questoes">20 Questões</ion-radio>
      <ion-radio id="gerarSimulado-radio8" name="simulado_num_questoes">25 Questões</ion-radio>
      <ion-radio id="gerarSimulado-radio9" name="simulado_num_questoes">30 Questões</ion-radio>
    </form>
    <div class="spacer" style="width: 300px; height: 10px;"></div>
    <button id="gerarSimulado-button36" class="button button-dark  button-block icon-right ion-android-create">Fazer Simulado</button>
    <div class="spacer" style="width: 300px; height: 49px;"></div>
  </ion-content>
</ion-view>
