<ion-view title="Inicial" id="page4" ng-app="app.controllers" >
  <ion-content>

    <div class="initial1">
      <ion-grid>
        <ion-row>
          <ion-col col-12> <img class="inicial-bv"src="img/bg_inicial2.png"></ion-col>
        </ion-row>
      </ion-grid>
    </div>

    <div class="inicial">
      <ion-grid>
        <ion-row>
          <ion-col col-6>  <img class="icons_Iniciais" src="img/icon_simulado.png" ui-sref="menu.gerarSimulado"></ion-col>
          <ion-col col-6>  <img class="icons_Iniciais" src="img/icon_livros.png" ui-sref="menu.listaDeLivros"></ion-col>
        </ion-row>

        <ion-row>
          <ion-col col-6>  <img  class="icons_Iniciais"  src="img/icon_foruns.png" ui-sref="menu.listaDeTopicos"></ion-col>
          <ion-col col-6>  <img  class="icons_Iniciais"  src="img/icon_universidades.png" ui-sref="menu.universidades"></ion-col>
        </ion-row>

        <ion-row>
          <ion-col col-6>  <img  class="icons_Iniciais" src="img/icon_encontros.png" ui-sref="menu.marcarEncontro"></ion-col>
          <ion-col col-6>  <img  class="icons_Iniciais" src="img/icon_analise.png" ui-sref="menu.estatisticas"></ion-col>
        </ion-row>
      </ion-grid>

    </div>
</ion-view>



    <!--
    <div ng-controller="questoesCtrl">
    <a ui-sref="menu.universidades" ng-click="buscaListaUniversidades()" id="inicial-button9" style="font-weight:300;font-size:15px;border-radius:60px 60px 60px 60px;" class="button button-positive button-large">UNIVERSIDADES</a>
  </div>
    <div ng-controller="livroCtrl">
      <a ui-sref="menu.listaDeLivros" ng-click="buscaListaLivros()" id="inicial-button10" style="font-weight:300;font-size:15px;border-radius:60px 60px 60px 60px;" class="button button-balanced button-large">List_livros</a>
    </div>
    <a ui-sref="menu.aHoraDaEstrela" id="inicial-button15" style="font-weight:300;font-size:15px;border-radius:60px 60px 60px 60px;" class="button button-balanced button-large">Info_livros</a>
    <a ui-sref="menu.anLiseDosPersonagens" id="inicial-button16" style="font-weight:300;font-size:15px;border-radius:60px 60px 60px 60px;" class="button button-assertive button-large">foruns</a>
    <a ui-sref="menu.marcarEncontro" id="inicial-button31" style="font-weight:300;font-size:15px;border-radius:60px 60px 60px 60px;" class="button button-positive button-large">MarcarEncontros</a>

    <a ui-sref="menu.criarTopico" id="inicial-button15" style="font-weight:300;font-size:15px;border-radius:60px 60px 40px 40px;" class="button button-preto button-large">Criar Tópico</a>

    <div ng-controller="criarTopicoCtrl">
      <a ui-sref="menu.listaDeTopicos"  ng-click="listaTopico()" id="inicial-button13" style="font-weight:30;font-size:15px;border-radius:60px 60px 40px 40px;" class="button button-preto button-large">Lista de Tópico</a>
    </div>

    <!--<a ui-sref="/menu/simulado" id="inicial-button14" style="font-weight:300;font-size:15px;" class="button button-balanced button-large">SIMULADO</a> //comentado aqui


    <div ng-controller="questoesCtrl">
      <a ng-click="buscaListaUniversidades()" ui-sref="menu.gerarSimulado" id="inicial-button37" style="border-radius:60px 60px 60px 60px;" class="button button-energized  button-block">gerar simulado</a>
    </div>


    <div ng-controller="questoesCtrl">
      <a ui-sref="menu.questoes" ng-click="buscaListaQuestoes()" id="inicial-button30" style="font-weight:300;font-size:15px;border-radius:60px 60px 60px 60px;" class="button button-assertive button-large">Lista_Questoes</a>
    </div>

    <div ng-controller="estatisticasCtrl">
      <a  ng-click="estatisticasUsuario()" id="inicial-button-graficos" style="font-weight:300;font-size:15px;border-radius:60px 60px 60px 60px;" class="button button-estatisticas ">gera Exibir estatisticas</a>
    </div>

    <div ng-controller="estatisticasCtrl">
      <a ui-sref="menu.estatisticas"  id="inicial-button-graficohgs" style="font-weight:300;font-size:15px;border-radius:60px 60px 60px 60px;" class="button button-estatisticas ">Exibir estatisticas</a>
    </div>

-->
