<ion-view title="Criar Tópico de Discussão" id="page85" style="background-color:#54146D;">
  <ion-content ng-controller="criarTopicoCtrl" padding="true" style="background: url(img/bg_lista_topicos.png) no-repeat center;background-size:cover;" class="has-header">
    <div class="spacer" style="width: 300px; height: 20px;"></div>
    <div>
      <img src="img/banner_forunsDeDiscussao_laranja.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <ion-list ng-repeat="topico in service.listaTopico" class="lst_topicos">
      <ion-item class="item-icon-left dark item_topicos" ui-sref="menu.comentarTopico"  ng-click="Topico_id">
        <i class="icon ion-chatboxes">
          <h2>{{topico.titulo}}</h2>
        </i>
      </ion-item>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 166px;"></div>
  </ion-content>
</ion-view>
