<ion-view title="Marcar Encontro" id="page9">
  <ion-content padding="true" style="background: url(img/bg_marcar_encontro1.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div id="marcarEncontro-container8">
      <div>
        <img src="img/banner_marcar_encontro.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <div class="spacer" style="width: 300px; height: 44px;"></div>

      <form id="marcarEncontro-form17" class="list">
        <label class="item item-input nome_evento" id="marcarEncontro-input14" name="nome_evento">
          <input type="text" placeholder="Nome do Evento">
        </label>
      </form>
    </div>
    <div class="spacer" style="width: 300px; height: 18px;"></div>
    <form id="marcarEncontro-form18" class="list">
      <label class="item item-select lista_livros" id="marcarEncontro-select2" name="Livro">
        <span class="input-label"></span>
        <select>
          <option>A Hora da Estrela</option>
          <option>Dançando Tango em Porto Alegre</option>
          <option>Dom Casmurro</option>
        </select>
      </label>
      <div class="spacer" style="width: 300px; height: 18px;"></div>
      <label class="item item-input local" id="marcarEncontro-textarea3" name="Local">
        <span class="input-label"></span><textarea placeholder="Informe o local"></textarea></label>
      <div class="spacer" style="width: 300px; height: 18px;"></div>
      <label class="item item-input local_evento" id="marcarEncontro-input16" name="local_evento">
        <input type="date" placeholder="Local">
      </label>
    </form>
    <form id="marcarEncontro-form23" class="list">
      <label class="item item-select" id="marcarEncontro-select6">
        <span class="input-label">Convidar Amigos</span>
        <select></select>
      </label>
    </form>
    <div id="marcarEncontro-container9">
      <button id="marcarEncontro-button17" style="color:#F6F6F6;border-radius:2px 2px 2px 2px;" class="button button-positive-marcarEncontro  button-block">Marcar</button>
    </div>
  </ion-content>
</ion-view>
