<ion-view title="Inicial" id="page4" ng-app="app.controllers" >
  <ion-content padding="true" style="background: url(img/bg_menu.jpg) no-repeat center;background-size:cover;" class="has-header">



    <ion-menu [content]="content">
      <ion-header>
        <ion-toolbar>
          <ion-title>Menu</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          <button ion-item (click)="openPage(homePage)">
            Home
          </button>
          <button ion-item (click)="openPage(friendsPage)">
            Friends
          </button>
          <button ion-item (click)="openPage(eventsPage)">
            Events
          </button>
          <button ion-item (click)="closeMenu()">
            Close Menu
          </button>
        </ion-list>
      </ion-content>
    </ion-menu>

    <ion-nav id="nav" #content [root]="rootPage"></ion-nav>
<!--Menuzin -->
  <!--  <ion-menu side="left" [content]="mycontent">
      <ion-content>
        <ion-list>
          <ion-item menu-close href="#/gerarSimulado">
          Fazer Simulado
        </ion-item>


        </ion-list>
      </ion-content>
    </ion-menu>

    <ion-nav #mycontent [root]="rootPage"></ion-nav>

  <!--  <div ng-controller="questoesCtrl">
      <a ui-sref="universidades" ng-click="buscaListaUniversidades()" id="inicial-button9" style="font-weight:300;font-size:15px;border-radius:60px 60px 60px 60px;" class="button button-positive button-large">UNIVERSIDADES</a>
    </div>
    <div ng-controller="livroCtrl">
      <a ui-sref="listaDeLivros" ng-click="buscaListaLivros()" id="inicial-button10" style="font-weight:300;font-size:15px;border-radius:60px 60px 60px 60px;" class="button button-balanced button-large">List_livros</a>
    </div>
    <a ui-sref="aHoraDaEstrela" id="inicial-button15" style="font-weight:300;font-size:15px;border-radius:60px 60px 60px 60px;" class="button button-balanced button-large">Info_livros</a>
    <a ui-sref="anLiseDosPersonagens" id="inicial-button16" style="font-weight:300;font-size:15px;border-radius:60px 60px 60px 60px;" class="button button-assertive button-large">foruns</a>
    <a ui-sref="marcarEncontro" id="inicial-button31" style="font-weight:300;font-size:15px;border-radius:60px 60px 60px 60px;" class="button button-positive button-large">MarcarEncontros</a>

    <a ui-sref="criarTopico" id="inicial-button15" style="font-weight:300;font-size:15px;border-radius:60px 60px 40px 40px;" class="button button-preto button-large">Criar Tópico</a>

    <a ui-sref="listaDeTopicos" id="inicial-button13" style="font-weight:30;font-size:15px;border-radius:60px 60px 40px 40px;" class="button button-preto button-large">Lista de Tópico</a>




    <div ng-controller="questoesCtrl">
      <a ng-click="buscaListaUniversidades()" ui-sref="gerarSimulado" id="inicial-button37" style="border-radius:60px 60px 60px 60px;" class="button button-energized  button-block">gerar simulado</a>
    </div>


    <div ng-controller="questoesCtrl">
      <a ui-sref="questoes" ng-click="buscaListaQuestoes()" id="inicial-button30" style="font-weight:300;font-size:15px;border-radius:60px 60px 60px 60px;" class="button button-assertive button-large">Lista_Questoes</a>
    </div>

    <div>
      <a ui-sref="estatisticas" id="inicial-button-graficos" style="font-weight:300;font-size:15px;border-radius:60px 60px 60px 60px;" class="button button-estatisticas ">Exibir estatisticas</a>
    </div>

</ion-view>
