<ion-view title="Questões" id="page10" style="background-color:#2E7886;">
  <ion-content padding="true" class="has-header">
    <div class="list card" id="questEs-card26">
      <div class="item item-body" id="questEs-list-item-container9" ng-controller="questoesCtrl">
        <div id="questEs-markdown15" class="show-list-numbers-and-dots" ng-repeat="questao in questoesUniversidade.questoes">
          <p style="margin-top:0px;color:#000000;">
            <strong>{{$index+1+") "}}{{questao.questao}}</strong>
          </p>

          <p style="color:#000000;">
            <strong>(A) </strong> {{questao.alternativas[0]}}</p>

          <p style="color:#000000;">
            <strong>(B)</strong> {{questao.alternativas[1]}}</p>

          <p style="color:#000000;">
            <strong>(C)</strong> {{questao.alternativas[2]}}</p>

          <p style="color:#000000;">
            <strong>(D)</strong> {{questao.alternativas[3]}}</p>

          <p style="color:#000000;">
            <strong>(E)</strong> {{questao.alternativas[4]}}</p>

          <br/>
          <br/>


        </div>
      </div>
    </div>

  </ion-content>
</ion-view>
