<ion-view title="Simulado" id="page14" style="background-color:#10454d">

    <ion-content padding="true" class="has-header" ng-controller="simuladoCtrl" style="background: url(img/bg_simulado.jpg) no-repeat center;background-size:cover;" class="has-header">

      <div>
        <img src="img/banner_simulado.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>


      <ion-list class="lst_questinoes_simulado" ng-repeat="simulado in service.simulado ">



        <form id="gerarSimulado-form25" class="list">
          <div class="spacer" style="width: 300px; height: 18px;"></div>

          <ion-item class="simulado_enunciado_item">
            <h3 class ="simulado_enunciado_font">{{$index+1+") "}}{{simulado.questao}}</h3>
          </ion-item>

          <ion-radio class="simulado_item" ng-repeat="alternativa in simulado.alternativas" id="gerarSimulado-radio5"
                     name="simulado_num_questoes" ng-click="setSimuladoResposta(simulado._id,alternativa)">
            {{simuladoAlternativa[$index]}}{{alternativa}}
          </ion-radio>

        </form>


      </ion-list>

      <div class="spacer" style="width: 300px; height: 25px;"></div>


      <a ng-click="verificarRespostas()" id="aHoraDaEstrela-button34"
         class="button button-preto  button-block icon-right ion-play">Verificar Respostas</a>
    </ion-content>




</ion-view>
