<ion-view title="Universidades" id="page7">
  <ion-content padding="true" style="background: url(img/bg_lista_universidades.png) no-repeat center;background-size:cover;" class="has-header" ng-controller="questoesCtrl">
    <ion-list ng-repeat="universidades in service.listaUniversidades" id="universidades-list7" ng-controller="livroCtrl">
      <ion-item ng-click="buscaListaLivrosPorUniversidade(universidades._id)" class="item-icon-left dark" id="universidades-list-item10" ui-sref="listaDeLivros">

        <i class="icon ion-university"></i>{{universidades._id}}

      </ion-item>

    </ion-list>
    <div class="spacer" style="width: 300px; height: 166px;"></div>
    <div id="universidades-button-bar3" class="button-bar">
      <button id="universidades-button26" class="button button-positive  button-block">1</button>
      <button id="universidades-button27" class="button button-positive  button-block">2</button>
      <button id="universidades-button28" class="button button-positive  button-block">3</button>
    </div>
  </ion-content>
</ion-view>
